<html lang="he">
<head dir="rtl">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>
  נתונים בישראל
  </title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
<div dir="rtl">

{%include "content_hebrew.html" %}

<table class="navigation_bar">
<br>
<tr>
<td colspan="2">
תיאור הסדרה : 
{{ description }}
</td>
</tr>
<tr>
<td>
סוג הסדרה : 
{{ series_type }}
</td>
<td>
תגיות : 
{{ labels }}
</td>
</tr>
</table>

<br>

<form>חפש:
  <input value="{{ search_phrase }}" name="search_phrase">
  <input type="hidden" name="series_id" value="{{ series_id }}">
  <input type="submit" value="בצע חיפוש">
</form>

<table style="width:90%;">
<tr>
<td style="vertical-align:top">

<form method="post">

<table border="2">
<tr>
<th>המספר</th>
<th>יחידות</th>
<th>תיאור</th>
<th>תאריך</th>
<th>המקור</th>
<th>המזין</th>
<th>נמצא בסדרה</th>
<th>הוסף לסדרה</th>
</tr>
   
{% for result in results %}
    <tr>
        {% for field_name in data_display_order %}
            <td>
            <a href = "{{ result['url'] }}">{{ result[field_name] }} </a>&nbsp;
            </td>
        {% endfor %}
        <td>
        <input type="checkbox" name="numbers_in_series" value="{{result['doc_id'] }}">
        </td>
    </tr>
{% endfor %}


</table>
<input type="hidden" name="series_id" value="{{ series_id }}">
<input type="submit" value="עדכן סדרה">
</form>

</td>

<td style="vertical-align:top">
רשימת המספרים בסדרה
<div style="height:430px;overflow:auto;">
{{criteria_name}}
<table border = "2">
<tr>
<th>
המספר
</th>
<th>
תאריך
</th>
</tr>
{% for number in list_of_numbers %}
    <tr>
    <td>
    {{ number['number'] }}
    </td>
    <td>
    {{ number['display_date'] }}
    </td>
    </tr>
{% endfor %}


</table>
</td>
</tr>
</table>

</div>
</body>
</html>
