<html lang="he">
<head dir="rtl">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>
  נתונים בישראל
  </title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
<div dir="rtl">

{%include "content_hebrew.html" %}

<table class="navigation_bar">
<br>
<tr>
<td colspan="2">
תיאור הסדרה : 
{{ description }}
</td>
</tr>
<tr>
<td>
סוג הסדרה : 
{{ series_type }}
</td>
<td>
תגיות : 
{{ labels }}
</td>
</tr>
</table>

<br>

<form>חפש:
  <input value="{{ search_phrase }}" name="search_phrase">
  <input type="hidden" name="series_id" value="{{ series_id }}">
  <input type="submit" value="בצע חיפוש">
</form>

<form method="post">

<table border="2">
<tr>
<th>המספר</th>
<th>יחידות</th>
<th>תאריך</th>
<th>תיאור</th>
<th>מקור</th>
<th>נמצא בסדרה</th>
<th>הוסף לסדרה</th>
</tr>
   
{% for scored_document in results %}
    {% for field in scored_document.fields %}
        {% if field.name == "series_type" %}
        {% elif loop.last %}
        <tr>
            {% for field in scored_document.fields %}
                <td>
                <a href = "/singlenum?single_number={{ scored_document.doc_id }}">{{field.value}} </a>&nbsp;
                </td>
            {% endfor %}
            {% for expression in scored_document.expressions %}
                <td>
                <a href = "/singlenum?single_number={{ scored_document.doc_id }}">{{expression.value}} </a>&nbsp;
                </td>
            {% endfor %}
            <td>
            <input type="checkbox" name="numbers_in_series" value="{{scored_document.doc_id }}">
            </td>
        {% endif %}    
    {% endfor %}        
    </tr>
{% endfor %}
</table>
<input type="hidden" name="series_id" value="{{ series_id }}">
<input type="submit" value="עדכן סדרה">
</form>

</div>
</body>
</html>
