<html lang="he">
<head dir="rtl">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>
  נתונים בישראל
  </title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
<div dir="rtl">

{%include "content_hebrew.html" %}

<a href="{{ url }}">{{ url_linktext }}</a>

<div><h2>
האתר מכיל {{ number_found }} נתונים
</h2></div>

<form>חפש:
  <input value="{{ search_phrase }}" name="search_phrase">
  <input type="submit" value="בצע חיפוש">
</form>


<table border="2">
<tr>
<th>המספר</th>
<th>יחידות</th>
<th>תיאור</th>
<th>תאריך</th>
<th>המקור</th>
<th>המזין</th>
</tr>
   
{% for result in results %}
    <tr>
    {% for field_name in data_display_order %}
        <td>
        <a href = "{{ result['url'] }}">{{ result[field_name] }} </a>&nbsp;
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>

</div>
</body>
</html>


