<html lang="he">
<head dir="rtl">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>
  נתונים בישראל
  </title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
<div dir="rtl">

{%include "content_hebrew.html" %}

<a href="{{ url }}">{{ url_linktext }}</a>
<div><h2>
האתר מכיל {{ number_found }} נתונים
</h2></div>

<form>חפש:
  <input value="{{ search_phrase }}" name="search_phrase">
  <input type="submit" value="בצע חיפוש">
</form>


<table border="2">
<tr>
<th>המספר</th>
<th>יחידות</th>
<th>תיאור</th>
<th>המקור<th>
<th>המזין</th>
</tr>
   
{% for scored_document in results %}
    {% for field in scored_document.fields %}
        {% if field.name == "series_type" %}
        <tr>
            {% for field in scored_document.fields %}
                <td>
                <a href = "/displayseries?series_id_to_display={{ scored_document.doc_id }}">{{field.value}} </a>&nbsp;
                </td>
            {% endfor %}
            {% for expression in scored_document.expressions %}
                <td>
                <a href = "/displayseries?series_id_to_display={{ scored_document.doc_id }}">{{expression.value}} </a>&nbsp;
                </td>
            {% endfor %}
        </tr>
        {% elif loop.last %}
        <tr>
            {% for field in scored_document.fields %}
                <td>
                <a href = "/singlenum?single_number={{ scored_document.doc_id }}">{{field.value}} </a>&nbsp;
                </td>
            {% endfor %}
            {% for expression in scored_document.expressions %}
                <td>
                <a href = "/singlenum?single_number={{ scored_document.doc_id }}">{{expression.value}} </a>&nbsp;
                </td>
            {% endfor %}
        {% endif %}    
        </tr>
    {% endfor %}        
{% endfor %}
</table>




</div>
</body>
</html>


