<html lang="he">
<head dir="rtl">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>
  נתונים בישראל
  </title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
<div dir="rtl">

{%include "content_hebrew.html" %}

<div>
<table>

{% for field_name in data_display_order %}
    <tr>
    {% if field_name[0] == "contained_in_series" %}
        <td style="vertical-align:top">
        {{field_name[1]}} 
        </td>
        <td>
        {% for series in list_of_series_description %} <a href="/displayseries?series_id_to_display={{series[0]}}">{{series[1]}}</a><p>
        {% endfor %}
        </td>
    {% else %}
        <td>
        {{field_name[1]}} 
        </td>
        <td>
        {{ dictionary_of_number_to_display[field_name[0]] }} 
        </td>
    {% endif %}
    </tr>
{% endfor %}

</table>
</div>
<div>
<form action="/addnumbertoseries">
    <input type="hidden" name="number_to_add_id" value="{{dictionary_of_number_to_display['doc_id']}}"> {# doc_id_to_display}}">#}
    <input type="submit" value="הוסף את המספר לסדרה">
</form>
</div>
</body>
</html>
