<html lang="he">
<head dir="rtl">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>
  נתונים בישראל
  </title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    google.load("visualization", "1.1", {packages:["annotationchart","corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
    {% if series_type == "time series" %}
        var data = new google.visualization.DataTable();
	    data.addColumn('date','Date');
	    data.addColumn('number','{{units}}');
	    data.addRows([
	        {% for number in list_of_numbers %}
	        [new Date({{number['google_chart_year']}},{{number['google_chart_month']}},{{number['google_chart_day']}}), {{number['number']}}],
            {% endfor %} 
            ]);
        var options = {
        title: '{{series_description}}',displayAnnotations: true
        };
        var chart = new google.visualization.AnnotationChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    {% elif series_type == "pie series" %}
        var data = new google.visualization.DataTable();
        data.addColumn('string','{{criteria}}');    
        data.addColumn('number','{{units}}');    
        data.addRows([
            {% for number in list_of_numbers %}
            ['{{number['criteria_value']}}', {{number['number']}}],
            {% endfor %} 
            ]);
        var options = {
        title: 'Distribution by {{criteria}}'
        };
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    {% endif %}
    }
</script>


</head>
<body>
<div dir="rtl">

{%include "content_hebrew.html" %}


<table class = "data_reference"> 
{% for field_name in data_display_order %}
    <tr>
    <td>
    {{field_name[1]}} 
    </td>
    <td>
    {{ series_to_display_dictionary[field_name[0]] }} 
    </td>
    </tr>
{% endfor %}
</table>

    <div>
    <form action="/addnumbertoseries">
        <input type="hidden" name="series_id" value="{{series_id_to_display}}">
        <input type="submit" value="ערוך סדרה">
    </form>
    </div>

    <table style="width:95%;">
        <tr>
            <td>
                <div id="chart_div" style="width:850px;height:500px;"></div>
            </td>
            <td>
                <div style="height:500px;overflow:auto;">
                    <table border="1">
                    <tr>
                    <td>
                    {% if series_type == "time series" %}
                        תאריך 
                    {% elif series_type == "pie series" %}
                        {{criteria}}
                    {% endif %}
                    </td>
                    <td> {{ units }} </td>
                    </tr>
                    {% for full_number_data in list_of_numbers %}
                        <tr>
                        <td>
                        {% if series_type == "time series" %}
                            {{full_number_data['display_date']}}
                        {% elif series_type == "pie series" %}
                            {{full_number_data['criteria_value']}}
                        {% endif %}
                        </td>
                        <td>
                        <div dir="ltr">
                        {{full_number_data['number']}}
                        </div>
                        </td>
                        </tr>
                    {% endfor %} 
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>

</body>
</html> 
