<html lang="he">
{# rtl not in the html or body tag because internet explorer have a problem with that#}
<head dir="rtl">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>
  נתונים בישראל
  </title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', '{{units}}'],
          {% for number in list_of_numbers %}
            [{{number['year']}}, {{number['number']}}],
          {% endfor %} 
        ]);

        var options = {
          title: '{{series_description}}'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>


</head>
<body>
<div dir="rtl">
<div><h1>
נתונים בישראל
</h1></div>

{%include "content.html" %}

<div>
{% for field in series_to_display.fields %}
    {{field.name}} : {{field.value}}
    <p>
{% endfor %}
</div>
<div>
{% for full_number_data in list_of_numbers %}
    {{full_number_data['year']}},{{full_number_data['number']}}
    <p>
{% endfor %} 
</div>


<div id="chart_div" style="width: 900px; height: 500px;"></div>
</body>
</html> 
